<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dataset <%- dataset.name -%> - <%- process.env.APP_TITLE -%></title>
</head>
<body>
    <a href="/datasets/"><- Go back</a> <br>
    <h2>Title: <%- dataset.name -%></h2> <br>
    <% if (locals.authenticated) { %>
    <h5>Api key:</h5>
    <textarea cols="20" rows="5"><%- dataset.api_key-%></textarea>
    <% } %>
    <br>
    Data:
    <% if (dataset.dataset.length) { %>
        <p><% for (let d of dataset.dataset) { %>  <%- d.data -%>, <% } %> </p>
    <% } else { %>
        <p>There is no data at the moment</p>
    <% } %>
</body>
</html>